<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <p class="navbar-brand">
      <a href=<%= @parent_directory %>>
        <i class="fa fa-level-up fa-flip-horizontal"></i>
      </a>
      <i class="fa fa-folder-open"></i>
      <%= @name %>
      <span class="badge"><%= @name_badge %></span>
    </p>
    <p class="navbar-text navbar-right">
    <% if @scan_link %>
      <a href='<%= @scan_link %>'>
        <button class="btn btn-danger">
          <i class="fa fa-folder"></i>
          Scan Directory
        </button>
      </a>
    <% end %>
    </p>
  </div>
</nav>
